:root{
    --azul-agua:#00D7C5;
    --azul-marinho:#000E40;
    --cor-letra-escura:#555555;
    --cor-letra-clara:#666666;
}
*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;   
}

li{
    list-style: none;
}

.topo{
    background: var(--azul-agua);
    width: 100%;
}

.container-atopo{
    margin-left: 10px;
}

.topo a{
    text-decoration: none;
    color: var(--azul-marinho);
    font: 14px 'Poppins', sans-serif;
    font-weight: 500;
    
}

.header{
    width: 100%;
    background-color: var(--azul-marinho);
    padding: 10px;
}

.fone{
    border-right: 2px solid var(--azul-marinho);
}

.navbar{
    color: #fff;
    background-color: var(--azul-marinho);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger{
    display: none;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--azul-agua);
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font: 16px 'Poppins', sans-serif;
}

.nav-item{
    margin-left: 5rem;
}

.nav-link{
    color: var(--azul-agua);
    font-weight: 500;
    text-decoration: none;
}

.nav-link:hover{
    color: #fff;
}

.fa-angle-down{
    margin-left: 5px;
}

.fa-brands, .fa-behance{
    margin-left: 5px;
}
/*Estilo da página sobre nós*/
.hero-bg{
    position: relative;
    /*background: url('../img/sobrebg.jpg') repeat-x center;*/
    overflow: hidden;
    width: 100%;
}

.hero-bg img{
    display:block;
    margin:0px auto;
    width:100%;
    height: 100vh;
    overflow: hidden;
}

#sobre{
    position:absolute;
    color:#fff;
    font: 32px 'Poppins', sans-serif;
    font-weight: 600;
    bottom: 10rem;
    left:10vw;
    
}

.historia{
    font: 16px 'Poppins', sans-serif;
    color: var(--cor-letra-escura);
    margin: 50px 70px;
}

.texto-cinza{
    color: var(--cor-letra-escura);
    font: 26px 'Poppins', sans-serif;
    font-weight: 800;
}

.local{
    font: 16px 'Poppins', sans-serif;
    color: var(--cor-letra-escura);
    margin: 50px 70px;
}

.local h1{
    font: 16px 'Poppins', sans-serif;
    font-weight: 600;
    color: var(--azul-marinho);
    text-align: center;
    margin-bottom: 20px;
}

.saiba-mais{
    font: 16px 'Poppins', sans-serif;
    color: var(--azul-marinho);
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
}

.saiba-mais h1{
    font: 24px 'Poppins', sans-serif;
    font-weight: 600;
}

.video{
    width: 100%;
    border: none;
}

.video>video{
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.duvida{
    font: 24px 'Poppins', sans-serif;
    font-weight: 600;
    color: var(--cor-letra-escura);
    margin: 50px 70px;
    text-align: center;
}

.btn-colors{
    border-color: var(--azul-marinho);
    color: var(--azul-marinho);
    margin-top: 50px;
}

.btn{
    display: inline-block;
    background: none !important;
    padding: 20px 50px !important;
    border-width: 2px !important;
    border-style: solid !important;
    border-radius: 20px;
    font-weight: bold;
    font-size: 20px !important;
    text-align: center;
    box-sizing: border-box;
    outline: 0;
    cursor: pointer;
}

.rodape{
    background-color: var(--azul-marinho);
    width: 100%;
    padding: 10px;
}

.text_white{
    font-family: 'Poppins', sans-serif !important;
    color: #fff;
}

.text_white-p{
    font: 1rem 'Poppins', sans-serif;
    color: #fff;
    
}

.blog-cards{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.card-b{
    background-color: var(--azul-agua);
    color: var(--azul-marinho);
    font: 1rem 'Poppins', sans-serif;
    border-radius: 10px;
    /*padding: 20px;*/
    margin: 20px;
    width: 300px;
}

.card-b img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.card-b-content{
    padding: 20px 10px;
}

.card-b-content a{
    color: #fff;
    font-weight: 500;
}

.data-tema{
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}

/*Fim do Estilo da página sobre nós*/

footer {
    background: var(--azul-agua);
    width: 100%;
}


footer h4{
    background: var(--azul-agua);
    color: var(--azul-marinho);
    text-align: center;
    font: 16px 'Poppins', sans-serif;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 8rem;
        flex-direction: column;
        background-color: var(--azul-marinho);
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:0 10px 27px rgba(0, 0, 0, 0.05);
        z-index: 9999;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .blog-cards{
        flex-direction: column;
        align-items: center;
    }

    
}
/*.menu{
    display: flex;
    text-align: center;
    float: right;
}
.menu a{
    background-color: var(--azul-marinho);
    color: #fff;
}*/