:root{
    --azul-agua:#00D7C5;
    --azul-marinho:#000E40;
    --cor-letra-escura:#555555;
    --cor-letra-clara:#666666;
}
*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;   
}

li{
    list-style: none;
}

.topo{
    background: var(--azul-agua);
    width: 100%;
}

.container-atopo{
    margin-left: 10px;
}

.topo a{
    text-decoration: none;
    color: var(--azul-marinho);
    font: 14px 'Poppins', sans-serif;
    font-weight: 500;
    
}

.header{
    width: 100%;
    background-color: var(--azul-marinho);
    padding: 10px;
}

.fone{
    border-right: 2px solid var(--azul-marinho);
}

.navbar{
    color: #fff;
    background-color: var(--azul-marinho);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger{
    display: none;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--azul-agua);
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font: 16px 'Poppins', sans-serif;
}

.nav-item{
    margin-left: 5rem;
}

.nav-link{
    color: var(--azul-agua);
    font-weight: 500;
    text-decoration: none;
}

.nav-link:hover{
    color: #fff;
}

.fa-angle-down{
    margin-left: 5px;
}

.fa-brands, .fa-behance{
    margin-left: 5px;
}
/*Estilo da página sobre nós*/
.hero-bg{
    position: relative;
    /*background: url('../img/sobrebg.jpg') repeat-x center;*/
    overflow: hidden;
    width: 100%;
}

.hero-bg img{
    display:block;
    margin:0px auto;
    width:100%;
    height: 100vh;
    overflow: hidden;
}

#sobre{
    position:absolute;
    color:#fff;
    font: 32px 'Poppins', sans-serif;
    font-weight: 600;
    bottom: 10rem;
    left:10vw;
    
}

.historia{
    font: 16px 'Poppins', sans-serif;
    color: var(--cor-letra-escura);
    margin: 50px 70px;
}

.texto-cinza{
    color: var(--cor-letra-escura);
    font: 26px 'Poppins', sans-serif;
    font-weight: 800;
}

.local{
    font: 16px 'Poppins', sans-serif;
    color: var(--cor-letra-escura);
    margin: 50px 70px;
}

.local h1{
    font: 16px 'Poppins', sans-serif;
    font-weight: 600;
    color: var(--azul-marinho);
    text-align: center;
    margin-bottom: 20px;
}

.saiba-mais{
    font: 16px 'Poppins', sans-serif;
    color: var(--azul-marinho);
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
}

.saiba-mais h1{
    font: 24px 'Poppins', sans-serif;
    font-weight: 600;
}

.video{
    width: 100%;
    border: none;
}

.video>video{
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.duvida{
    font: 24px 'Poppins', sans-serif;
    font-weight: 600;
    color: var(--cor-letra-escura);
    margin: 50px 70px;
    text-align: center;
}

.btn-colors{
    border-color: var(--azul-marinho);
    color: var(--azul-marinho);
    margin-top: 50px;
}

.btn{
    display: inline-block;
    background: none !important;
    padding: 20px 50px !important;
    border-width: 2px !important;
    border-style: solid !important;
    border-radius: 20px;
    font-weight: bold;
    font-size: 20px !important;
    text-align: center;
    box-sizing: border-box;
    outline: 0;
    cursor: pointer;
    width: 15rem;
}

.text_white{
    font-family: 'Poppins', sans-serif !important;
    color: #fff;
}

.text_white-p{
    font: 1rem 'Poppins', sans-serif;
    color: #fff;
    
}

.blog-cards{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.card-b{
    background-color: var(--azul-agua);
    color: var(--azul-marinho);
    font: 1rem 'Poppins', sans-serif;
    border-radius: 10px;
    /*padding: 20px;*/
    margin: 20px;
    width: 300px;
}

.card-b img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.card-b-content{
    padding: 20px 10px;
}

.card-b-content a{
    color: #fff;
    font-weight: 500;
}

.data-tema{
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}

/*Fim do Estilo da página sobre nós*/

/*Estilo da página de Pacientes*/
.pacientes-cards{
    background-color: #F3F5F9;
}

.text-pacientes{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: var(--cor-letra-escura);
    padding: 50px 70px;
    text-align: center;
}

.text-pacientes p{
    font-size: 1.6rem;
    color: var(--azul-marinho);
}

.text-pacientes h1{
    font-size: 2rem;
    color: var(--cor-letra-escura);
}

.cards-pacientes{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 100px;
}

.list-cards{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-bottom: 8rem;
    flex-wrap: wrap;
}

.list-item{
    border-radius: 20px;
    background-color: #fff;
    width: 210px;
    height: 160px;
    padding: 20px;
    box-shadow: 0px 1px 30px -1px rgba(122, 122, 122, 0.30);
    -webkit-box-shadow: 0px 1px 30px -1px rgba(122, 122, 122, 0.30);
    -moz-box-shadow: 0px 1px 30px -1px rgba(122, 122, 122, 0.30);
}

.list-item h3{
    font: 1.2rem 'Poppins', sans-serif; 
    line-height: 1.4rem;
    font-weight: bold;
}

.saiba-mais-txt{
    color: var(--cor-letra-escura);
    text-align: center;
    padding-bottom: 4rem;
}

.saiba-mais-txt>h1{
    font: 1.5rem 'Poppins', sans-serif;
    font-weight: bold;
}

.cards-list-g{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-bottom: 2rem;
    flex-wrap: wrap;
}

.item-card-g{
    border-radius: 20px;
    background-color: var(--azul-marinho);
    color: #fff;
    width: 260px;
    height: 175px;
    padding: 20px;
}

.item-card-g p{
    font: 1.5rem 'Poppins', sans-serif; 
    line-height: 2rem;
    font-weight: bold;
}

.cards-list-m{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-bottom: 4rem;
    flex-wrap: wrap;
}

.item-card-m{
    border-radius: 20px;
    background-color: var(--azul-marinho);
    color: #fff;
    width: 260px;
    height: 145px;
    padding: 20px;
}

.item-card-m p{
    font: 1.5rem 'Poppins', sans-serif; 
    line-height: 2rem;
    font-weight: bold;
}

.local-side{
    background-color: #F3F5F9;
    display: flex;
    justify-content: space-between;
    height: 600px;
    margin-bottom: 3rem;
}

.local-side-txt{
    font: 2rem 'Poppins', sans-serif;
    font-weight: bold;
    color: var(--cor-letra-escura);
    padding: 50px 70px;
    text-align: left;
    width: 40%;
}

.local-side-txt p, .local-side-txt h3{
    font: 1rem 'Poppins', sans-serif;
    color: var(--cor-letra-escura);
}

.local-side-txt p{
    padding-bottom: 1rem;
}

.local-side-txt h3{
    font-weight: bold;
}

.local-side-map{

    padding-left: 10rem;
    width: 68%
}

.ir-medicos{
    margin-left: 2rem;
    margin-bottom: 4rem;
}

.ir-medicos>a>p{
    font: 1rem 'Poppins', sans-serif;
    color: var(--cor-letra-escura);
    font-weight: 500;
}

/*Fim do Estilo da página de Pacientes*/

/*Estilo da página de Médicos*/
.medicos-cards{
    background-color: #F3F5F9;
}

.blog-publi{
    background-color: #F3F5F9;
    padding-bottom: 3rem;
}

.content-txt{
    font: 1.5rem 'Poppins', sans-serif;
    font-weight: 600;
    color: var(--cor-letra-escura);
    padding: 50px 70px;
    text-align: center;
}

.card-blog{
    width: 345px;
    height: 390px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background-color: #fff;
}

.card-blog img{
    width: 100%;
    height: 50%;
    border-radius: 20px 20px 0 0;
}

.card-blog h3{
    font: 1.2rem 'Poppins', sans-serif;
    color: var(--cor-letra-clara);
    font-weight: 500;
    padding: 1rem;
}

.card-blog>span{
    display: flex;
    justify-content: space-between;
    font: .785rem 'Poppins', sans-serif;
    color: var(--cor-letra-clara);
    font-weight: 500;
    padding: 6rem 1rem 1rem 1rem;
}

.card-blog>span>p>i{
    padding-right: 10px;
}

/*Fim do Estilo da página de Médicos*/

/*Estilo da página de Contato*/
.text-contato{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: var(--cor-letra-escura);
    padding: 50px 70px;
    text-align: center;
}

.text-contato p{
    font-size: 1.6rem;
    color: var(--azul-marinho);
}

.text-contato h1{
    font-size: 2rem;
    color: var(--cor-letra-escura);
}

.text-contato h3{
    text-align: justify;
    width: 970px;
    margin: 2.5rem auto;
    font-size: 1rem;
    color: var(--cor-letra-escura);
    font-weight: 400;
}

.info-box{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 0 0 3rem auto;
    flex-wrap: wrap;
    background-color: #F3F5F9;
}

.quad-blue{
    font: 1rem 'Poppins', sans-serif;
    width: 566px;
    height: 496px;
    color: var(--azul-agua);
    background-color: var(--azul-marinho);
    padding: 48px;
}

.quad-blue h1{
    font-size: 2.375rem;
    font-weight: 600;
}

.quad-blue p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1px;
}

#ue{
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--azul-agua);
    margin: 2rem 0 4rem;
}

.quad-blue h4{
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--azul-agua);
    margin: 0 0 1.375rem;
}

.setores{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.dados-setores{
    font-family: 'Poppins', sans-serif;
    padding: 3rem;
}

.dados-setores p{
    font-size: 1rem;
    font-weight: 600;
    color: var(--azul-marinho);
}

.dados-setores h3{
    font-size: 1rem;
    font-weight: 600;
    color: var(--cor-letra-clara);
}

#exames, #tesouraria, #ouvidoria, #achados{
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--cor-letra-clara);
}


/*.dados-setores h1{
    font-size: 1rem;
    font-weight: 600;
    color: var(--azul-marinho);
}

.dados-setores h2{
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--cor-letra-clara);
    margin-bottom: 2rem;
}*/

.botao{
    background-color: var(--azul-marinho);
    color: var(--azul-agua);
    font-size: 1rem;
    font-weight: 600;
    padding: .5rem 1rem;
    border-radius: 10px;
    border: none;
    margin: .625rem 0 1.5rem;
}

.modal{
    display: flex;
    background-color: #F3F5F9;
    font: 1rem 'Poppins', sans-serif;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-bottom: 4rem;
}

.container-tipo{
    display: flex;
    padding: 4rem .938rem 2rem;
    margin: 0 12rem 4rem;
}

.tipo{
    display: flex;
    width: 420px;
    height: 70px;
}

.txt-tipo{
    padding-left: 2rem;
}
/*Fim do Estilo da página de Contato*/

/*Estilo da parte do footer*/

.rodape{
    background-color: var(--azul-marinho);
    width: 100%;
    padding: 10px;
}

footer {
    background: var(--azul-agua);
    width: 100%;
}


footer h4{
    background: var(--azul-agua);
    color: var(--azul-marinho);
    text-align: center;
    font: 16px 'Poppins', sans-serif;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 8rem;
        flex-direction: column;
        background-color: var(--azul-marinho);
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:0 10px 27px rgba(0, 0, 0, 0.05);
        z-index: 9999;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .blog-cards{
        flex-direction: column;
        align-items: center;
    }

    .cards-pacientes{
        flex-direction: column;
        align-items: center;
    }
    .list-cards{
        flex-direction: column;
        align-items: center;
    }

    .list-item{
        margin: 20px 0;
    }
    
    .item-card-g{
        margin-bottom: 2rem;
    }

    .item-card-m{
        margin-bottom: 2rem;
    }

    .local-side{
        flex-direction: column;
        align-items: right;
    }

    .local-side-txt{
        width: 100%;
        padding: 50px 20px;
    }

    .local-side-txt p{
        font-size: 1rem;
    }

    .local-side-map{
        padding-left: 0;
        width: 100%;
    }

    .text-contato h3{
        font-size: .75rem;
        width: 100%;
    }

    .quad-blue{
        width: 100%;
        padding: 48px;
        height: 550px;
    }
}
/*.menu{
    display: flex;
    text-align: center;
    float: right;
}
.menu a{
    background-color: var(--azul-marinho);
    color: #fff;
}*/